.side-menu-panel {
  overflow-y: auto;
  height: 100vh;
}

.side-menu-header {
  background-color: #eeeeee;
  justify-content: center;
  text-align: center;
}

.side-menu-header.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.side-menu-section::after,
.side-menu-header::before,
.side-menu-header::after {
  content: "";
  width: 100%;

  border-bottom: 1px solid #ddd;
}

.side-menu-header a,
.side-menu-header:hover a {
  color: #212529;
}

.side-menu-header h4,
.side-menu-header h6 {
  margin: 0.5em;
}

#core-registers-container {
  max-width: fit-content;
  margin: 0 auto;
}

#metadata-section dl, #legend-section dl, #legend-section p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.side-menu-section .form-check-label {
  padding-left: 1rem;
}

span.details-content {
  font-size: 0.8em;
}

.value-changed {
  color: lightcoral;
  font-weight: bold;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  z-index: 1;
}

.cell::before {
  background-color: var(--bg-col);
  background-image: var(--bg-img);

  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  /* To enable seeing covered spanning blocks */
  opacity: 0.9;
}

/* Allow overflowing background to empty cells */
.cell-empty {
  z-index: 0;
}
.cell-empty::before {
  z-index: -1;
}

.cell.log-view--spanning::before {
  height: 200%;
}

.cell-inside {
  position: relative;
  z-index: 2;
}

.cell-annotation {
  font-size: small;
  font-family: monospace;
  text-transform: uppercase;
  color: #999;
  top: calc(100% - 1.75em);
  position: absolute;
}

.cell-selected-darken .cell-annotation {
  color: #666;
}

.cell-selected-darken::before {
  filter: brightness(90%);
}

.cell-selected-framed::before {
  outline: 2px solid #777;
  border-radius: 5px;
  z-index: 2;
}

.cell-selected-framed .cell-inside {
  z-index: 2;
}

.log-view--corner, .log-view--left-header, .log-view--top-header {
  --bg-col: var(--cell-empty-bg-col);
}

.log-view--corner {
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
  font-weight: bold;
}

.log-view--corner button {
  padding: 0.5em;
  margin: 0.25em;
  border: none;
  background: transparent;
  border-radius: 10px;
}

.log-view--corner button:hover {
  background: var(--bg-col);
  filter: brightness(80%);
}

.log-view--unaligned {
  filter: brightness(97%) ;
}

.log-view--discontinuous {
  border-bottom: 2px solid #aaa;
}

.log-view--left-header.log-view--spanning {
  border-bottom: 3px dashed var(--cell-event-fetch-bg-col);
}

.log-view--top-header {
  border-bottom: 2px solid #aaa;
  font-weight: bold;
}

.log-view--left-header {
  border-right: 2px solid #aaa;
}

.log-view--left-header::before,
.log-view--top-header::before {
  background-color: #f7f7f7;
}

/* big thanks to https://github.com/bvaughn/react-virtualized/issues/1248#issue-371674207 */
.logList > .ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.log-message {
  white-space: pre;
  overflow: visible;
  min-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.log-message abbr {
  font-weight: bold;
}

.log-message strong .link-button {
  font-weight: bolder;
}

.log-message-selected-darken {
  background: rgb(245, 245, 240);
}

div.plain-log-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plain-log-control label, .plain-log-msg {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.plain-log-msg > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plain-log-msg > p:hover {
  padding: 0.2em;
  border: 1px black dotted;
  z-index: 1000;
  background-color: white;
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  white-space: unset;
  overflow: visible;
}

.plain-log-control input {
  min-width: 0;
}

:root {
  --cell-event-vector-fetch-bg-col: lightcyan;
  --cell-event-fetch-bg-col: lightgreen;
  --cell-event-decode-bg-col: pink;
  --cell-event-execute-bg-col: lightsalmon;
  --cell-event-literal-bg-col: plum;
  --cell-event-stacking-unstacking-bg-col: lightyellow;
  --cell-event-undefined-bg-col: lightgray;
  --cell-empty-bg-col: white;
}

/* from https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md */
.link-button {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
